body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(230, 229, 230, 1);
}
.container {
  height: auto;
  width: 450px;
  font-family: "Noto Sans", sans-serif;
  border-radius: 5px;
  box-shadow: 10px 10px 15px #8080804a;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
  color: rgba(128, 128, 128, 0.603);
  font-size: 17px;
  font-weight: 700;
}
/* ___________________________________________ */
/* ___________________________________________ */
.header__container {
  width: auto;
  height: 125px;
  display: flex;
  background-color: #fff;
}
.header__image {
  height: auto;
  width: 125px;
}
.header__img__cont {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(164, 162, 164, 0.5);
}
.icon {
  height: 40px;
  width: auto;
}
.header__title {
  padding: 0 10px;
}
.header__title h1 {
  margin-bottom: 0;
}
.header__title p {
  padding-top: 15px;
}
/* ___________________________________________ */
/* ___________________________________________ */
.image__container {
  width: auto;
  height: 350px;
}
.image {
  height: 250px;
  background-color: rgba(164, 162, 164, 0.5);
}
.image img {
  height: 100%;
  width: auto;
}
.description {
  background-color: #fff;
  height: 100px;
}
.description p {
  margin: 0 20px;
  font-weight: 450;
}
/* ___________________________________________ */
/* ___________________________________________ */
.footer__container {
  width: auto;
  height: 60px;
  justify-content: space-between;
  background-color: #fff;
}
.footer__left,
.footer__rigth {
  display: flex;
  margin: 0 10px;
}
.footer__left a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(82, 53, 188, 1);
  margin: 0 20px;
}
.footer__right {
  justify-content: space-evenly;
}
.footer__right img {
  margin-right: 50px;
  height: 24px;
}
